modules/report_engine_bdoc/tests/test_files/BdocWebWSSchema.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . --><xs:schema xmlns:tns="http://service.bdoc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.bdoc.com/">

<xs:element name="BDocNetworkException" type="tns:BDocNetworkException"></xs:element>

<xs:element name="BDocResourceException" type="tns:BDocResourceException"></xs:element>

<xs:element name="BDocWebException" type="tns:BDocWebException"></xs:element>

<xs:element name="generation" type="tns:generation"></xs:element>

<xs:element name="generationResponse" type="tns:generationResponse"></xs:element>

<xs:element name="getRepository" type="tns:getRepository"></xs:element>

<xs:element name="getRepositoryResponse" type="tns:getRepositoryResponse"></xs:element>

<xs:element name="getTemplate" type="tns:getTemplate"></xs:element>

<xs:element name="getTemplateResponse" type="tns:getTemplateResponse"></xs:element>

<xs:element name="validateDataForm" type="tns:validateDataForm"></xs:element>

<xs:element name="validateDataFormResponse" type="tns:validateDataFormResponse"></xs:element>

<xs:element name="validateTextForm" type="tns:validateTextForm"></xs:element>

<xs:element name="validateTextFormResponse" type="tns:validateTextFormResponse"></xs:element>

<xs:complexType name="validateTextForm">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="tns:validationType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateTextFormResponse">
<xs:sequence>
<xs:element name="return" type="tns:interactionResult" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="interactionResult" abstract="true">
<xs:sequence>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="sessionID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="structContent" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BDocWebException">
<xs:sequence>
<xs:element name="errorCode" type="xs:short"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BDocNetworkException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemplate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemplateResponse">
<xs:sequence>
<xs:element name="return" type="tns:templateInfos" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="templateInfos">
<xs:complexContent>
<xs:extension base="tns:template">
<xs:sequence>
<xs:element name="dataStreamName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="htmlPreview" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nodeItems" type="tns:nodeItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="technicalEntities" type="tns:technicalEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="type" type="xs:int"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="template">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descriptions">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="keywords" type="tns:keyword" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="systemKeywords" type="tns:keyword" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodeItem">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descriptions">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="exludedListId" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="includedListId" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="optional" type="xs:boolean"></xs:element>
<xs:element name="type" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="technicalEntity">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descriptions">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="type" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="keyword">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="type" type="xs:int"></xs:element>
<xs:element name="values" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BDocResourceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generation">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="tns:mapItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg4" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:int" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg6" type="tns:mapItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg7" type="tns:documentInfo" minOccurs="0"></xs:element>
<xs:element name="arg8" type="tns:inputDataForm" minOccurs="0"></xs:element>
<xs:element name="arg9" type="tns:inputTextForm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mapItem">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentInfo">
<xs:complexContent>
<xs:extension base="tns:interactionResult">
<xs:sequence>
<xs:element name="contentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="documents" type="tns:bDocDocument" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="bDocDocument">
<xs:sequence>
<xs:element name="document" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="htmlContent" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="indexContent" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputDataForm">
<xs:complexContent>
<xs:extension base="tns:interactionForm">
<xs:sequence>
<xs:element name="dataFields" type="tns:dataField" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="interactionForm" abstract="true">
<xs:complexContent>
<xs:extension base="tns:interactionResult">
<xs:sequence>
<xs:element name="currentHtml" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="formId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="header" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="htmlAfter" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="htmlBefore" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="templateName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="textName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataField">
<xs:sequence>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="formId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="modifiedByUser" type="xs:boolean"></xs:element>
<xs:element name="used" type="xs:boolean"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputTextForm">
<xs:complexContent>
<xs:extension base="tns:interactionForm">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="generationResponse">
<xs:sequence>
<xs:element name="return" type="tns:interactionResult" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateDataForm">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="tns:mapItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg3" type="tns:validationType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateDataFormResponse">
<xs:sequence>
<xs:element name="return" type="tns:interactionResult" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRepository">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getRepositoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:domain" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="domain">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="templates" type="tns:template" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="validationType">
<xs:restriction base="xs:string">
<xs:enumeration value="CANCEL_ASSEMBLY"></xs:enumeration>
<xs:enumeration value="CONTINUE"></xs:enumeration>
<xs:enumeration value="VALIDATE"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
