modules/report_engine_bdoc/tests/test_files/BdocWebWS.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://service.bdoc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bdoc.com/" name="BdocWebWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.bdoc.com/" schemaLocation="BdocWebWSSchema.xml"></xsd:import>
</xsd:schema>
</types>
<message name="getRepository">
<part name="parameters" element="tns:getRepository"></part>
</message>
<message name="getRepositoryResponse">
<part name="parameters" element="tns:getRepositoryResponse"></part>
</message>
<message name="BDocWebException">
<part name="fault" element="tns:BDocWebException"></part>
</message>
<message name="BDocNetworkException">
<part name="fault" element="tns:BDocNetworkException"></part>
</message>
<message name="getTemplate">
<part name="parameters" element="tns:getTemplate"></part>
</message>
<message name="getTemplateResponse">
<part name="parameters" element="tns:getTemplateResponse"></part>
</message>
<message name="BDocResourceException">
<part name="fault" element="tns:BDocResourceException"></part>
</message>
<message name="generation">
<part name="parameters" element="tns:generation"></part>
</message>
<message name="generationResponse">
<part name="parameters" element="tns:generationResponse"></part>
</message>
<message name="validateTextForm">
<part name="parameters" element="tns:validateTextForm"></part>
</message>
<message name="validateTextFormResponse">
<part name="parameters" element="tns:validateTextFormResponse"></part>
</message>
<message name="validateDataForm">
<part name="parameters" element="tns:validateDataForm"></part>
</message>
<message name="validateDataFormResponse">
<part name="parameters" element="tns:validateDataFormResponse"></part>
</message>
<portType name="BdocWebWS">
<operation name="getRepository">
<input wsam:Action="http://service.bdoc.com/BdocWebWS/getRepositoryRequest" message="tns:getRepository"></input>
<output wsam:Action="http://service.bdoc.com/BdocWebWS/getRepositoryResponse" message="tns:getRepositoryResponse"></output>
<fault message="tns:BDocWebException" name="BDocWebException" wsam:Action="http://service.bdoc.com/BdocWebWS/getRepository/Fault/BDocWebException"></fault>
<fault message="tns:BDocNetworkException" name="BDocNetworkException" wsam:Action="http://service.bdoc.com/BdocWebWS/getRepository/Fault/BDocNetworkException"></fault>
</operation>
<operation name="getTemplate">
<input wsam:Action="http://service.bdoc.com/BdocWebWS/getTemplateRequest" message="tns:getTemplate"></input>
<output wsam:Action="http://service.bdoc.com/BdocWebWS/getTemplateResponse" message="tns:getTemplateResponse"></output>
<fault message="tns:BDocWebException" name="BDocWebException" wsam:Action="http://service.bdoc.com/BdocWebWS/getTemplate/Fault/BDocWebException"></fault>
<fault message="tns:BDocNetworkException" name="BDocNetworkException" wsam:Action="http://service.bdoc.com/BdocWebWS/getTemplate/Fault/BDocNetworkException"></fault>
<fault message="tns:BDocResourceException" name="BDocResourceException" wsam:Action="http://service.bdoc.com/BdocWebWS/getTemplate/Fault/BDocResourceException"></fault>
</operation>
<operation name="generation">
<input wsam:Action="http://service.bdoc.com/BdocWebWS/generationRequest" message="tns:generation"></input>
<output wsam:Action="http://service.bdoc.com/BdocWebWS/generationResponse" message="tns:generationResponse"></output>
<fault message="tns:BDocWebException" name="BDocWebException" wsam:Action="http://service.bdoc.com/BdocWebWS/generation/Fault/BDocWebException"></fault>
<fault message="tns:BDocNetworkException" name="BDocNetworkException" wsam:Action="http://service.bdoc.com/BdocWebWS/generation/Fault/BDocNetworkException"></fault>
<fault message="tns:BDocResourceException" name="BDocResourceException" wsam:Action="http://service.bdoc.com/BdocWebWS/generation/Fault/BDocResourceException"></fault>
</operation>
<operation name="validateTextForm">
<input wsam:Action="http://service.bdoc.com/BdocWebWS/validateTextFormRequest" message="tns:validateTextForm"></input>
<output wsam:Action="http://service.bdoc.com/BdocWebWS/validateTextFormResponse" message="tns:validateTextFormResponse"></output>
<fault message="tns:BDocWebException" name="BDocWebException" wsam:Action="http://service.bdoc.com/BdocWebWS/validateTextForm/Fault/BDocWebException"></fault>
<fault message="tns:BDocNetworkException" name="BDocNetworkException" wsam:Action="http://service.bdoc.com/BdocWebWS/validateTextForm/Fault/BDocNetworkException"></fault>
</operation>
<operation name="validateDataForm">
<input wsam:Action="http://service.bdoc.com/BdocWebWS/validateDataFormRequest" message="tns:validateDataForm"></input>
<output wsam:Action="http://service.bdoc.com/BdocWebWS/validateDataFormResponse" message="tns:validateDataFormResponse"></output>
<fault message="tns:BDocWebException" name="BDocWebException" wsam:Action="http://service.bdoc.com/BdocWebWS/validateDataForm/Fault/BDocWebException"></fault>
<fault message="tns:BDocNetworkException" name="BDocNetworkException" wsam:Action="http://service.bdoc.com/BdocWebWS/validateDataForm/Fault/BDocNetworkException"></fault>
</operation>
</portType>
<binding name="BdocWebWSPortBinding" type="tns:BdocWebWS">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
<operation name="getRepository">
<soap12:operation soapAction=""></soap12:operation>
<input>
<soap12:body use="literal"></soap12:body>
</input>
<output>
<soap12:body use="literal"></soap12:body>
</output>
<fault name="BDocWebException">
<soap12:fault name="BDocWebException" use="literal"></soap12:fault>
</fault>
<fault name="BDocNetworkException">
<soap12:fault name="BDocNetworkException" use="literal"></soap12:fault>
</fault>
</operation>
<operation name="getTemplate">
<soap12:operation soapAction=""></soap12:operation>
<input>
<soap12:body use="literal"></soap12:body>
</input>
<output>
<soap12:body use="literal"></soap12:body>
</output>
<fault name="BDocWebException">
<soap12:fault name="BDocWebException" use="literal"></soap12:fault>
</fault>
<fault name="BDocNetworkException">
<soap12:fault name="BDocNetworkException" use="literal"></soap12:fault>
</fault>
<fault name="BDocResourceException">
<soap12:fault name="BDocResourceException" use="literal"></soap12:fault>
</fault>
</operation>
<operation name="generation">
<soap12:operation soapAction=""></soap12:operation>
<input>
<soap12:body use="literal"></soap12:body>
</input>
<output>
<soap12:body use="literal"></soap12:body>
</output>
<fault name="BDocWebException">
<soap12:fault name="BDocWebException" use="literal"></soap12:fault>
</fault>
<fault name="BDocNetworkException">
<soap12:fault name="BDocNetworkException" use="literal"></soap12:fault>
</fault>
<fault name="BDocResourceException">
<soap12:fault name="BDocResourceException" use="literal"></soap12:fault>
</fault>
</operation>
<operation name="validateTextForm">
<soap12:operation soapAction=""></soap12:operation>
<input>
<soap12:body use="literal"></soap12:body>
</input>
<output>
<soap12:body use="literal"></soap12:body>
</output>
<fault name="BDocWebException">
<soap12:fault name="BDocWebException" use="literal"></soap12:fault>
</fault>
<fault name="BDocNetworkException">
<soap12:fault name="BDocNetworkException" use="literal"></soap12:fault>
</fault>
</operation>
<operation name="validateDataForm">
<soap12:operation soapAction=""></soap12:operation>
<input>
<soap12:body use="literal"></soap12:body>
</input>
<output>
<soap12:body use="literal"></soap12:body>
</output>
<fault name="BDocWebException">
<soap12:fault name="BDocWebException" use="literal"></soap12:fault>
</fault>
<fault name="BDocNetworkException">
<soap12:fault name="BDocNetworkException" use="literal"></soap12:fault>
</fault>
</operation>
</binding>
<service name="BdocWebWSService">
<port name="BdocWebWSPort" binding="tns:BdocWebWSPortBinding">
<soap12:address location="http://172.18.2.73:8180/bdocweb-ws-5.1/BdocWebWS"></soap12:address>
</port>
</service>
</definitions>
