modules/claim_prest_ij_service/resources/ROOT_ENTGESTIP_V02_00.xsd

<?xml version="1.0" encoding="utf-8"?><!-- Schema generated by Camelia uml2xml tool --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ENTGESTIP="urn:cnamts:tlsemp:ENTGESTIP" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cnamts:tlsemp:ENTGESTIP">

<xsd:annotation>
	<xsd:appinfo>
		<Build xmlns="urn:camelia:info" Generation="6" Host="P107501G71432S" Location="D:/Workspace" Model="ENTGESTIP" Project="OC" Repository="X:\" Root="true" Time="20140828_163351"/>
	<Package xmlns="urn:camelia:info" Status="Approved" Timestamp="20140828_164125" Version="02.00"/></xsd:appinfo>
</xsd:annotation>

<!-- MAIN INSTANCES GLOBAL ELEMENTS -->

<xsd:element name="Entete" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Agregats_Entete"/>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="ENTGESTIP_Enveloppe_Commun_Simples_Code">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Simples_IdentiteOPEDI">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string">
			<xsd:attribute name="R" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Simples_IdentiteOPEDI_R" use="required"/>
		</xsd:extension>
	</xsd:simpleContent>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Simples_IdentiteOPEDI_R">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="SIRET"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Simples_IdentiteORGIR">
	<xsd:simpleContent>
		<xsd:extension base="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Simples_IdentiteORGIR">
			<xsd:attribute name="R" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Simples_IdentiteORGIR_R" use="required"/>
		</xsd:extension>
	</xsd:simpleContent>
</xsd:complexType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Simples_IdentiteORGIR">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="[0-9]{9,10}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Simples_IdentiteORGIR_R">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="ORGIR"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Agregats_Dossier">
	<xsd:sequence>
		<xsd:element name="Mindex" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Agregats_Mindex"/>
		<xsd:element name="Lien" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Agregats_Lien"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Agregats_Emetteur">
	<xsd:sequence>
		<xsd:element name="Identite" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_IdentiteOPEDI"/>
		<xsd:element name="Qualite" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Emetteur_Qualite"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Emetteur_Qualite">
	<xsd:restriction base="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code">
		<xsd:pattern value="OPEDI"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Agregats_Entete">
	<xsd:sequence>
		<xsd:element name="Identification" type="xsd:string"/>
		<xsd:element name="Temps" type="xsd:dateTime"/>
		<xsd:element minOccurs="0" name="Fonction" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code"/>
		<xsd:element name="Info" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code"/>
		<xsd:element name="Emetteur" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Agregats_Emetteur"/>
		<xsd:element name="Recepteur" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Agregats_Recepteur"/>
		<xsd:element maxOccurs="unbounded" name="Document" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Agregats_Dossier"/>
	</xsd:sequence>
	<xsd:attribute name="PGMD_Profil" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Entete_PGMD_Profil" use="required"/>
	<xsd:attribute name="Profil_Version" type="xsd:string" use="required"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Entete_PGMD_Profil">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="ENTGESTIP"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Agregats_Lien">
	<xsd:sequence>
		<xsd:element name="Adresse" type="xsd:string"/>
		<xsd:element name="Type" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Lien_Type"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Lien_Type">
	<xsd:restriction base="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code">
		<xsd:pattern value="XML"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Agregats_Mindex">
	<xsd:sequence>
		<xsd:element name="Profil" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Mindex_Profil"/>
		<xsd:element name="Identification" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code"/>
		<xsd:element name="Temps" type="xsd:dateTime"/>
		<xsd:element name="Fonction" type="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Mindex_Profil">
	<xsd:restriction base="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code">
		<xsd:pattern value="GESTIP"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="ENTGESTIP_Enveloppe_Commun_Agregats_Recepteur">
	<xsd:sequence>
		<xsd:element name="Identite" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Recepteur_Identite"/>
		<xsd:element name="Qualite" type="ENTGESTIP:PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Recepteur_Qualite"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:complexType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Recepteur_Identite">
	<xsd:simpleContent>
		<xsd:restriction base="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_IdentiteORGIR">
			<xsd:pattern value="010000000"/>
		</xsd:restriction>
	</xsd:simpleContent>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_ENTGESTIP_Enveloppe_Commun_Agregats_Recepteur_Qualite">
	<xsd:restriction base="ENTGESTIP:ENTGESTIP_Enveloppe_Commun_Simples_Code">
		<xsd:pattern value="ACNAM"/>
	</xsd:restriction>
</xsd:simpleType>


<!-- END OF SCHEMA -->

</xsd:schema>