modules/claim_prest_ij_service/resources/ROOT_GESTIP_V02_01.xsd

<?xml version="1.0" encoding="utf-8"?><!-- Schema generated by Camelia uml2xml tool --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:GESTIP="urn:.cnamts:tlsemp:GESTIP" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:.cnamts:tlsemp:GESTIP">

<xsd:annotation>
	<xsd:appinfo>
		<Build xmlns="urn:camelia:info" Generation="9" Host="P107501A218378S" Location="D:/WS_CAMELIA" Model="GESTIP" Project="OC" Repository="X:\SRVDAIT\Patrimoine" Root="true" Time="20150617_120322"/>
	<Package xmlns="urn:camelia:info" Status="Approved" Timestamp="20150617_133440" Version="02.01"/></xsd:appinfo>
</xsd:annotation>

<!-- MAIN INSTANCES GLOBAL ELEMENTS -->

<xsd:element name="GESTIP" type="GESTIP:GESTIP_IP_Commun_Agregats_GESTIP"/>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_Code">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_IdEnt">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_SIRET">
	<xsd:restriction base="GESTIP:PATTERN0_GESTIP_IP_Commun_Simples_SIRET"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Simples_SIRET">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_IdEnt">
		<xsd:pattern value="[0-9]{14}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_IRCEM">
	<xsd:restriction base="GESTIP:PATTERN0_GESTIP_IP_Commun_Simples_IRCEM"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Simples_IRCEM">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_IdEnt">
		<xsd:pattern value=".{10}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_SIREN">
	<xsd:restriction base="GESTIP:PATTERN0_GESTIP_IP_Commun_Simples_SIREN"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Simples_SIREN">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_IdEnt">
		<xsd:pattern value="[0-9]{9}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_Identite">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_IdIP">
	<xsd:restriction base="GESTIP:PATTERN0_GESTIP_IP_Commun_Simples_IdIP"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Simples_IdIP">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Identite">
		<xsd:pattern value=".{5}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_NIR">
	<xsd:restriction base="GESTIP:PATTERN0_GESTIP_IP_Commun_Simples_NIR"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Simples_NIR">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Identite">
		<xsd:pattern value="\d{6}[A-Za-z0-9]{1}((\d{6})|(\d{8}))"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="GESTIP_IP_Commun_Simples_Litteral">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType abstract="true" name="GESTIP_IP_Commun_Agregats_Couverture">
	<xsd:sequence>
		<xsd:element name="DateDebut" type="xsd:date"/>
		<xsd:element minOccurs="0" name="DateFin" type="xsd:date"/>
		<xsd:element minOccurs="0" name="DateDebutRetro" type="xsd:date"/>
	</xsd:sequence>
	<xsd:attribute name="IdCouverture" type="xsd:string" use="required"/>
	<xsd:attribute name="Operation" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Couverture_Operation" use="required"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Couverture_Operation">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="CRE|SUP|SUPCRE"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:complexType name="GESTIP_IP_Commun_Agregats_Prevoyance">
	<xsd:complexContent>
		<xsd:extension base="GESTIP:GESTIP_IP_Commun_Agregats_Couverture">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="TypePE" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Prevoyance_TypePE"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<!-- CURRENT TYPE INSTANCE GROUP -->

<xsd:group name="GESTIP_IP_Commun_Agregats_Prevoyance">
	<xsd:sequence>
		<xsd:element name="Prevoyance" type="GESTIP:GESTIP_IP_Commun_Agregats_Prevoyance"/>
	</xsd:sequence>
</xsd:group>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Prevoyance_TypePE">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Code">
		<xsd:pattern value="IJ"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="GESTIP_IP_Commun_Agregats_Entreprise">
	<xsd:sequence>
		<xsd:element name="Identite" type="GESTIP:GESTIP_IP_Commun_Simples_IdEnt"/>
		<xsd:element minOccurs="0" name="RaisonSociale" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Entreprise_RaisonSociale"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Salarie" type="GESTIP:GESTIP_IP_Commun_Agregats_Salarie"/>
	</xsd:sequence>
	<xsd:attribute name="Operation" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Entreprise_Operation"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Entreprise_Operation">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="CRE|SUP|SUPCRE"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Entreprise_RaisonSociale">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Litteral">
		<xsd:pattern value=".{0,50}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="GESTIP_IP_Commun_Agregats_GESTIP">
	<xsd:sequence>
		<xsd:element name="Identification" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_GESTIP_Identification"/>
		<xsd:element name="Temps" type="xsd:dateTime"/>
		<xsd:element name="Fonction" type="GESTIP:GESTIP_IP_Commun_Simples_Code"/>
		<xsd:element name="IP" type="GESTIP:GESTIP_IP_Commun_Agregats_IP"/>
	</xsd:sequence>
	<xsd:attribute name="Version" type="xsd:string" use="required"/>
	<xsd:attribute name="Nature" type="xsd:string" use="required"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_GESTIP_Identification">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value=".{0,25}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="GESTIP_IP_Commun_Agregats_IP">
	<xsd:sequence>
		<xsd:element name="Identite" type="GESTIP:GESTIP_IP_Commun_Simples_IdIP"/>
		<xsd:element minOccurs="0" name="Denomination" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_IP_Denomination"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Entreprise" type="GESTIP:GESTIP_IP_Commun_Agregats_Entreprise"/>
	</xsd:sequence>
	<xsd:attribute name="Operation" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_IP_Operation"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_IP_Operation">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="CRE|SUP"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_IP_Denomination">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Litteral">
		<xsd:pattern value=".{0,50}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="GESTIP_IP_Commun_Agregats_Salarie">
	<xsd:sequence>
		<xsd:element name="NIR" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_NIR"/>
		<xsd:element name="Nom" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_Nom"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Prenom" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_Prenom"/>
		<xsd:group maxOccurs="unbounded" minOccurs="0" ref="GESTIP:GESTIP_IP_Commun_Agregats_Prevoyance"/>
	</xsd:sequence>
	<xsd:attribute name="Operation" type="GESTIP:PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_Operation"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_Operation">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="CRE|SUP|SUPCRE"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_NIR">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_NIR">
		<xsd:pattern value="[0-9]{6}[0-9AB][0-9]{6}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_Nom">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Litteral">
		<xsd:pattern value=".{0,50}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_GESTIP_IP_Commun_Agregats_Salarie_Prenom">
	<xsd:restriction base="GESTIP:GESTIP_IP_Commun_Simples_Litteral">
		<xsd:pattern value=".{0,50}"/>
	</xsd:restriction>
</xsd:simpleType>


<!-- END OF SCHEMA -->

</xsd:schema>

